.footer-top {
  background-color: #0c1a32;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 60px;
}

.footer-link {
  list-style: none;
  padding-left: 0;
}

.footer-title {
  color: white;
  margin-bottom: 20px;
}

.footer-top p {
  text-align: justify;
}

.footer-top p,
.footer-link li a {
  color: #b5b5c3;
  font-size: 14px;
}

.footer-link li svg,
.location svg {
  margin-right: 15px;
}

.footer-link li svg path {
  fill: #fff;
}

.footer-link li a {
  text-decoration: none;
}

.location svg path {
  fill: #6cbbfa;
}

.social-icons div {
  margin-right: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.social-icons svg {
  transform: scale(0.8);
}

.social-icons svg path {
  fill: #fff;
}

.facebook-icon {
  background-color: #2d4373;
}

.facebook-icon:hover {
  background-color: #2d53a7;
}

.twitter-icon {
  background-color: #0c85d0;
}

.twitter-icon:hover {
  background-color: #0a95eb;
}

.linkedin-icon {
  background-color: #0077b5;
}

.linkedin-icon:hover {
  background-color: #0297e7;
}

.github-icon {
  background-color: rgb(243, 242, 242);
}

.github-icon:hover {
  background-color: #fff;
}

.social-icons .github-icon svg path {
  fill: #000;
}

.footer-form input[type="email"] {
  height: 35px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 12px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 14px;
}

.footer-bottom {
  background-color: #0c1a32;
  color: #b5b5c3;
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .footer-top {
    padding: 30px 20px;
  }
  .footer-title {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .footer-title {
    margin-top: 30px;
  }
}
