.strength-home {
  height: 450px;
  width: 100%;
}

.strength-home.row > * {
  padding: 0px;
}

.strength-home .col {
  padding: 0px;
}

.right-strength {
  padding-left: 50px;
}

.strength-home img {
  height: 450px;
  width: 100%;
}

.strength-home ul {
  list-style: none;
  padding-left: 0;
}

.strength-home ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.strength-home svg {
  border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
  background-color: #d4ecff;
  color: #6cbbfa;
  padding: 5px;
  font-size: 11px;
  text-align: center;
  margin-right: 8px;
}

@media only screen and (max-width: 600px) {
  .strength-home {
    height: auto;
  }

  .section-title::after {
    background-color: #fff;
  }

  .section-title {
    margin-bottom: 30px;
    width: fit-content;
    border-bottom: 5px solid #6cbbfa;
    margin: 0px auto;
    margin-top: 60px;
  }

  .strength-home img {
    height: 350px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .strength-home {
    height: auto;
  }

  .section-title::after {
    background-color: #fff;
  }

  .section-title {
    margin-bottom: 30px;
    width: fit-content;
    border-bottom: 5px solid #6cbbfa;
    margin: 0px auto;
    margin-top: 60px;
  }

  .strength-home img {
    height: 400px;
  }
}
