* {
  color: #172b4c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

p,
li,
a {
  font-family: "IBM Plex Sans", sans-serif;
}

.section-title {
  font-size: 34px;
  position: relative;
}

.section-title span {
  color: #6cbbfa;
}

.section-title::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 100px;
  bottom: -10px;
  left: 0px;
  background-color: #6cbbfa;
}

.my-btn {
  background-color: #3ba4f8;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  color: #ececf7;
}

.my-btn:hover {
  background-color: #2693ff;
  color: white;
  transition: 0.1s ease;
}
